@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .search {
        background: url(../Content/site/forgot-pasword-user.png) no-repeat;
        padding-left: 18px;
        border: 1px solid #ccc;
    }
</style>
<section class="home-welcome-page">
    <div class="container">
        <div class="row home-welcome-text">
            <h3>One Konnect</h3>
            <h1>Communication Simplified And Unfied</h1>
        </div>
        <div class="row forgot-password">
            <div class="col-md-7  col-lg-6 col-md-offset-3 col-sm-8 col-sm-offset-3">
                <div class="panel panel-info">
                    <div class="panel-headings">
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="panel-title">Forgot Password</h3>
                            </div>
                            <div class="col-md-8">
                                <div id="successMessage" class="hideElement">
                                    <div class="alert alert-success" role="alert">
                                        <span>
                                            <img src="~/Content/site/like.png" alt="" />
                                        </span>
                                        Successfullly updated accountinfo and details mailed to you
                                        
                                    </div>
                                </div>
                                <div id="errorMessage" class="hideElement">
                                    <div class="alert alert-danger" role="alert">
                                        <span id="failureMessage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row login-body">
                            <div class="col-md-10 col-md-offset-1 username-pass" id="username-pass">
                                <form id="forgotPasswordForm" accept-charset="UTF-8" role="form">
                                    <fieldset>
                                        <div class="form-group user-input">

                                            <img src="~/Content/site/forgot-pasword-user.png" />

                                            <input class="form-control" placeholder="userId" name="userId" id="userId" type="text" value="">
                                        </div>
                                        <div class="form-group user-input">
                                            <img src="~/Content/site/forgot-pasword-email.png" />
                                            <input class="form-control" placeholder="Email" name="emailId" id="emailId" type="text" value="">
                                            
                                        </div>
                                        <div class="g-recaptcha form-group" data-sitekey=" @System.Web.Configuration.WebConfigurationManager.AppSettings["ReCaptchaPublicKey"]"></div>
                                        @*<div class="captcha-box">
                                            <img src="~/Content/site/captcha.png" />
                                        </div>
                                        <div class="form-group user-input">
                                            <input class="form-control" placeholder="Code" name="Code" type="text" value="">
                                            <img src="~/Content/site/captcha-code-bug.png" />
                                        </div>*@
                                        <div class="login-btn-box col-md-5">
                                            <input id="forgotPassword" class="btn btn-flat flat-info btn-lg btn-block login-btn" type="submit" value="Submit">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="col-md-10 col-md-offset-1  username-pass-redirect hideElement" id="username-pass-redirect">
                                <div class="col-md-12 padding-Fix" style="margin: auto;">
                                    <div class="col-md-12 alert alert-success padding-Fix" role="alert" >
                                        <div class="col-md-1">
                                            <img src="~/Content/site/like.png" alt="" /></div>
                                        <div class="col-md-11">
                                            <span>Password Reset Success and credential mailed to you	</span>

                                        </div>

                                    </div>
                                    <input id="goToLoginPage" class="btn btn-flat flat-info btn-lg btn-block login-btn goToLoginPage" type="button" value="Go To Login">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@Html.Hidden("RedirectToLogin", Url.Action("Index", "Home"));