 
 /*header*/
 
	 .navbar-default {
	  background-color: #ffffff;
	  border: 0 none;
	  border-radius: 0;
	  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	  margin-bottom: 0;
	}
	.navbar-default .navbar-toggle {
	  border-color: #dddddd;
	}
	.navbar-toggle {
	  border-radius: 0;
	  margin-top: 33px;
	}

	.navbar-default .navbar-brand {
	  color: #000 !important;
	  font-family: 'Open Sans',sans-serif;
	  font-size: 24px;
	  font-weight: 800;
	  padding-bottom: 15px;
	  padding-top: 15px;
	  text-transform: uppercase;
	  height:auto;
	}


	.navbar {
	  margin-bottom: 20px;
	}
	.navbar-default {
		background-color: #ffffff;
		border: 0 none;
		border-radius: 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		margin-bottom: 0;
	}
	.navbar-default .navbar-brand {
		color: #000 !important;
		font-family: 'Open Sans',sans-serif;
		font-size: 24px;
		font-weight: 800;
		padding-bottom: 15px;
		padding-top: 15px;
		text-transform: uppercase;
	}
	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		color: #2c3e50;
	}
	.navbar-brand span {
		color: #2ecc71;
		font-weight: 300;
	}
	.navbar-toggle {
		border-radius: 0;
		margin-top: 33px;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	   // background-color: #2ecc71;
	   // border-color: #2ecc71;
	}
	.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
		background-color: #ffffff;
	}
	.navbar-nav > li > a {
		font-weight: 400;
		font-size:12px;
		
	}
	.navbar-nav > li > .dropdown-menu {
		font-size: 13px;
	}
	.dropdown-menu > li > a {
		font-weight: 600;
	}
	@media (max-width: 767px) {
		.navbar-collapse {
			border-top: 0 none;
		}
		.navbar-collapse.in {
			overflow-y: visible;
		}
		.navbar-nav {
			background-color: #FFFFFF;
			margin: 0 -15px;
			padding-bottom: 15px;
			padding-top: 15px;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
		.navbar-default .navbar-nav > li  {
			  border-bottom: 1px solid #ccc;
		}
		.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		  background-color: #35546B;
		}
		.navbar-default .navbar-nav > li > a {
			color: #000000;
			font-size: 13px;
		}
		.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
			color: #fff;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > li > a {
			color: #bdc3c7;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
			color: #ecf0f1;
		}
		.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
			z-index: 0;
		}
		.nav > li.dropdown:before {
			color: #bdc3c7;
			content: "+";
			font-size: 18px;
			position: absolute;
			right: 15px;
			top: 5px;
			z-index: 9999;
		}
		.nav > li.dropdown.open:before {
			content: "-";
			right: 17px;
		}
		.dropdown-menu > li > a:before {
			content: "-";
			margin-left: -10px;
			margin-right: 5px;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
			background-color: #2c3e50;
			color: #ecf0f1;
		}
	}

	@media (min-width: 768px) {

		.navbar-default {
			height: 100px;
			transition: all 0.2s ease-in-out 0s;
`		}
		.navbar-nav {
			float: right;
			margin-right: 0px;
		}
		.navbar-default .navbar-nav > li > a {
			color: #3b3f42;
			padding: 40px 10px;
			text-transform: uppercase;
		}
		.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
			color: #43b4f9;
		}
		.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
			background-color: transparent;
			color: #2ecc71;
		}
		.navbar-nav > li:last-child > a {
			padding-right: 0;
		}
		.navbar-nav > li.active:last-child > a {
			padding-right: 18px;
		}
		.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
			background-color: rgba(0, 0, 0, 0.01);
			border-bottom: 3px solid #458FFF;
			color: #458FFF;
			padding-bottom: 37px;
		}

		.navbar-nav > li > .dropdown-menu {
			-moz-border-bottom-colors: none;
			-moz-border-left-colors: none;
			-moz-border-right-colors: none;
			-moz-border-top-colors: none;
			background-color: #34495e;
			border-color: #2ecc71 -moz-use-text-color -moz-use-text-color;
			border-image: none;
			border-radius: 0;
			border-right: 0 none;
			border-style: solid none none;
			border-width: 3px 0 0;
			margin-top: -3px;
		}
		.dropdown-menu > li > a {
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			color: #ecf0f1;
			padding: 10px 20px;
		}
		.dropdown-menu > li:last-child > a {
			border-bottom: 0 none;
		}
		.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
			background-color: #2ecc71;
			color: #ffffff !important;
		}
		.home-welcome-page{
			  background-image: url(../site/home-welcom-image.png);
			  margin: auto;
			  height: 600px;
			  background-size: 100% 100%;
			  background-repeat: no-repeat;
			
		}
		 section {
			padding: 50px 0;
		}
		.footer .footer-nav li {
			display:inline;
			float:left;
			padding: 10px;
		}
	}

	@media (min-width: 768px) and  (max-width: 1000px){
		.navbar-nav {
			margin-right: -31px;
		}
		.navbar-default .navbar-nav > li > a {
		  color: #000;
		  padding: 40px 7px;
		  text-transform: uppercase;
		}
		
	}

	/* Footer */
	
	.footer{
		font-size:12px;
	}
	footer.footer  ul.footer-nav{
		padding: 10px;
	}

	.footer .footer-nav li {
		display:inline;
		float:left;
	}

	.footer .footer-nav li  a{
		color: #5b6267;
	}
	.footer ul.footer-nav{
		 float: right;
		margin-bottom: 0;
	}
	 
	.footer-text p{
		padding: 10px;
	}

	span.or-text  a{
			color:#ffffff !important; 
		}
	span.or-text  a:hover{
		color:#ffffff !important; 
		text-decoration:none;
	}