
@{
    ViewBag.Title = "Home";
}

<section class="home-welcome-page">
    <div class="container">
        <div class="row home-welcome-text">
            <h3>One Konnect</h3>
            <h1>Communication Simplified And Unfied</h1>
        </div>
        <div class="row login-box">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-3">
                <div class="panel panel-info">
                    <!--<div class="panel-heading">
                        <h3 class="panel-title">Please login</h3>
                    </div>-->
                    <div class="panel-body">
                        <div class="row login-body">
                            <div class="col-md-5  col-xs-2 login-blue">
                                <h3>Log In</h3>
                            </div>
                            <div class="col-md-7  username-pass">
                                <form accept-charset="UTF-8" role="form">
                                    <fieldset>
                                        <div class="form-group user-input">
                                            <input class="form-control" placeholder="User Name" name="email" type="text">
                                            <img src="~/Content/images/site/user.png" />
                                        </div>
                                        <div class="form-group user-input">
                                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                            <img src="~/Content/images/site/key.png" />
                                        </div>
                                        <div class="login-btn-box">
                                            <input class="btn btn-flat flat-info btn-lg btn-block login-btn" type="submit" value="Login">
                                        </div>
                                        <div class="frgt-uname-pass">
                                            <p><a href="01_homepage_forgot_Usr.html">Forgot username?</a></p>
                                            <p><a href="01_homepage_forgot_pwd.html">Forgot password?</a></p>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-3  or-sign-up">
                <p class="or-bar"></p>
                <span class="or-text">@Html.ActionLink("Or Sign up", "Register", "Account")</span>
            </div>
        </div>
    </div>
</section>