<div class="row member-group-details" id="member-group-details">
    <div class="col-md-12">
        <div class="tabbable tabs-left group-settings-tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tabGS_1" data-toggle="tab">Group Details</a> </li>
                <li><a href="#tabGS_2" data-toggle="tab">Products</a> </li>
                <li><a href="#tabGS_3" data-toggle="tab">User</a> </li>
                <li><a href="#tabGS_4" data-toggle="tab">Users Roles</a> </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active group-setting-form" id="tabGS_1">
                    <div class="row">
                        <div class="bs-example group-details group-details-gp col-md-10">
                            <form class="form-horizontal" id="addNewGroupForm" accept-charset="UTF-8" role="form">
                                <div class="form-group">

                                    <div class="col-xs-12 col-md-9 col-sm-9">
                                        <input type="text" class="form-control" name="inputGroupName" id="inputGroupName" placeholder="Group Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12 col-sm-12">
                                        <textarea id="inputDescription"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-8 col-md-9 col-sm-9">
                                        <label class="control-label ">Active :</label>
                                        <span style="margin-left:10px">
                                            <input id="cbxActive" type="checkbox" class="css-checkbox" checked="checked">
                                        </span>
                                        @*<img src="images/site/check.png" alt="" />*@
                                    </div>
                                </div>
                                <div class="form-group account-settings-btn">
                                    <div class="col-xs-12 col-sm-5 col-md-3  ">
                                        <a class="btn btn-info" id="saveAddUser">
                                            <img src="~/Content/site/save.png" alt="">Save Your Changes</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-md-4   ">
                                        <a class="btn btn-danger" id="cancelAddUser">
                                            <img src="~/Content/site/cancel.png" alt="">Cancel Changes</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabGS_2">
                    <div class="row">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in .
                        </p>
                        <div class="bs-example  ">
                            <div class="row table-responsive groups_details_products">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Info/Notes</th>
                                            <th>Subscription</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row">Product 01</td>
                                            <td>Information 01</td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="un-subs css-checkbox">
                                                </span>
                                                <span class="unsubscribe">Unsubscribe</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Product 01</td>
                                            <td>Information 01</td>
                                            <td>
                                                <span class="subscribe">
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="un-subs css-checkbox">
                                                </span>
                                                <span>Subscribe</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Product 01</td>
                                            <td>Information 01</td>
                                            <td>
                                                <span class="subscribe">
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="un-subs css-checkbox">
                                                </span>
                                                <span>Subscribe</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Product 01</td>
                                            <td>Information 01</td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="un-subs css-checkbox">
                                                </span>
                                                <span class="unsubscribe">Unsubscribe</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Product 01</td>
                                            <td>Information 01</td>
                                            <td>
                                                <span class="subscribe">
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="un-subs css-checkbox">
                                                </span>
                                                <span>Subscribe</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Product 01</td>
                                            <td>Information 01</td>
                                            <td>
                                                <span class="subscribe">
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="un-subs css-checkbox">
                                                </span>
                                                <span>Subscribe</span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabGS_3">
                    <div class="row">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in .
                        </p>
                        <div class="bs-example  ">
                            <div class="row table-responsive  groups_details_users">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Subscription</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row">User 01</td>
                                            <td>user01@gmail.com</td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="un-subs css-checkbox">
                                                </span>
                                                <span class="unsubscribe">Unsubscribe</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">User 01</td>
                                            <td>user01@gmail.com</td>
                                            <td>
                                                <span class="subscribe">
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="un-subs css-checkbox">
                                                </span>
                                                <span>Subscribe</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">User 01</td>
                                            <td>user01@gmail.com</td>
                                            <td>
                                                <span class="subscribe">
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="un-subs css-checkbox">
                                                </span>
                                                <span>Subscribe</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">User 01</td>
                                            <td>user01@gmail.com</td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="un-subs css-checkbox">
                                                </span>
                                                <span class="unsubscribe">Unsubscribe</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">User 01</td>
                                            <td>user01@gmail.com</td>
                                            <td>
                                                <span class="subscribe">
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="un-subs css-checkbox">
                                                </span>
                                                <span>Subscribe</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">User 01</td>
                                            <td>user01@gmail.com</td>
                                            <td>
                                                <span class="subscribe">
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="un-subs css-checkbox">
                                                </span>
                                                <span>Subscribe</span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabGS_4">
                    <div class="row">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in .
                        </p>
                        <div class="bs-example  group-details-userroles">
                            <div class="row table-responsive">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="5">Product 1</th>
                                            <th colspan="3">Product 2</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row"></td>
                                            <td>Role 1</td>
                                            <td>Role 2</td>
                                            <td>Role 3</td>
                                            <td>Role 4</td>
                                            <td>Role 5</td>
                                            <td>Role 6</td>
                                            <td>Role 7</td>
                                        </tr>

                                        <tr>
                                            <td scope="row">User 02</td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">User 03</td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">User 04</td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">User 05</td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">User 06</td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <input id="checkboxid" type="checkbox" checked="checked" class="css-checkbox">
                                                </span>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group account-settings-btn">
                                <div class="col-xs-12 col-sm-5 col-md-3  ">
                                    <a class="btn btn-info">
                                        <img src="images/site/save.png" alt="">Save Your Changes</a>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-4   ">
                                    <a class="btn btn-danger">
                                        <img src="images/site/cancel.png" alt="">Cancel Changes</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

