@{
    ViewBag.Title = "RegistrationSuccessfull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="top-well">
    <div class="well"></div>
</section>
<div class="container">
    <section class="login-status">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-7">

            </div>
            <div class="col-md-6 col-sm-6 col-xs-5 pull-right">
            </div>
        </div>
        @*<div class="blue-line">
            <div class="blue-spacing"></div>
        </div>*@
    </section>


    <section class="dashboard">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <h2>Token expired,please register again</h2>
            </div>
        </div>
    </section>
</div>



